{% include "nav/header_receptionists.html" %}

<div class="container mt-5">
    <h2>Appointments</h2>
    <form method="get" action="/appointments" class="form-inline mb-3">
        <input type="text" name="search_patient" class="form-control mr-2" placeholder="Search Patient Name">
        <input type="text" name="search_doctor" class="form-control mr-2" placeholder="Search Doctor Name">
        <input type="date" name="search_date" class="form-control mr-2" placeholder="Search Date">
        <input type="time" name="search_time" class="form-control mr-2" placeholder="Search Time">
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

    <table class="table table-bordered">
    <thead>
            <tr>
                <th>#</th>
                <th>Patient Name</th>
                <th>Doctor Name</th>
                <th>Date</th>
                <th>Time</th>
                <th>Reason for Cancellation</th>
            </tr>
        </thead>
        <tbody>
            {% for cancellation in cancellations %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ cancellation.patient_name }}</td>
                <td>{{ cancellation.doctor_name }}</td>
                <td>{{ cancellation.appointment_date }}</td>
                <td>{{ cancellation.appointment_time }}</td>
                <td>{{ cancellation.cancel_reason }}</td>
            </tr>
            {% else %}
            <tr>
                <td colspan="7" class="text-center">No cancelled appointments found</td>
            </tr>
            {% endfor %}
        </tbody>
</table>

</div>

<script>
    // JavaScript to handle cancel button click and pass appointment_id to modal
    $(document).ready(function() {
        $('.cancel-btn').on('click', function() {
            var appointmentId = $(this).data('id');
            $('#appointment_id').val(appointmentId);
        });
    });
</script>


{% include "nav/footer.html" %}